* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial, "courier new", serif;
}
h1 {
	font-size: 450%;
	font-weight:100;
}
#nav-bar {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}
nav {
	width: 58%;
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
}
header nav a {
	text-decoration-line: none;
	text-align: center;
	border: 1px solid grey;
	margin-right: 20px;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 130%;
}
nav a:hover {
	background-color: #1a1a1a;
}
.active {
	background-color: #1a1a1a;
	border: 1px dotted white;
}
.container-fluid {
	display: table;
	width: 100%;
	margin-top: 62px;
	margin-bottom: 62px;
}
.container {
	display: table;
	width: 86.6%;
	border-collapse: separate;
	margin-top: 62px;
	margin-bottom: 62px;
}
.row {
	display: table-row;
}
.col {
	display: table-cell;
}
/* *************************************************************** front-page styles ****************************************************** */
#section1 {
	background-image: url(../img/bg-1.jpg);
	background-position: bottom left;
	background-attachment: fixed;
	height: 560px;
}
.row-fluid {
	width: inherit;
}
.col-fluid {
	display: table-cell;
	width: inherit;
	text-align: center;
	color: white;
	vertical-align: middle;
}
/* ************************************************************ 3-column section styles *************************************************** */
#section2 {
	height: 520px;
	margin: 0 auto;
	border-spacing: 10px;
	margin-bottom: 50px;
}
.three-cols {
	background-color: lightgray;
	display: table-cell;
	column-width: 270px;
	height: inherit;
}
.three-cols h3 {
	margin: 30px 0 30px 10px;
}
.three-cols p {
	margin: 0 10px;
}
.three-cols button {
	margin: 40px 90px;
	width: 160px;
	height: 50px;
	border-radius: 10px;
	font-size: 130%;
	color: white;
}
#green-btn {
	background-color: green;
}
#blue-btn {
	background-color: blue;
}
#red-btn {
	background-color: red;
}
#bootstrap h3 {
	color: green;
}
#responsive h3 {
	color: blue;
}
#parallax h3 {
	color: grey;
}
/* ************************************************************ 2-column section styles *************************************************** */
#section3 {
	height: 620px;
	margin: 0 auto;
	border-spacing: 10px;
}
.two-cols {
	background-color: lightgray;
	display: table-cell;
	column-width: 350px;
	height: inherit;
}
.two-cols-space {
	display: table-cell;
	column-width: 20px;
	height: inherit;
}
.two-cols img {
	resize: horizontal;
	width: 542px;
	margin: 0;
}
.two-cols h3 {
	margin-top: 30px;
	text-align: center;
}
.two-cols p {
	margin: 30px 20px 0 20px;
}
.two-cols button {
	margin: 40px 30px 30px 300px;
	width: 160px;
	height: 50px;
	border-radius: 10px;
	font-size: 130%;
	background-color: whitesmoke;
}
/* ******************************************************* Serive column or section4 styles *********************************************** */
#section4 {
	background-image: url(../img/bg-2.jpg);
	background-position: center;
	background-attachment: fixed;
	height: 400px;
}
.service-col {
	width: 27%;
}
#mid-service-col {
	text-align: center;
	color: white;
	vertical-align: middle;
}
/* ********************************************************* 4-column section styles **************************************************** */
#section5 {
	height: 520px;
	margin: 0 auto;
	border-spacing: 30px;
}
.four-cols {
	background-color: lightgray;
	display: table-cell;
	height: inherit;
}
.four-cols h3 {
	margin: 30px 0;
	text-align: center;
}
.four-cols p {
	margin: 0 40px 15px;
}
.four-cols button {
	margin: 0 20px 20px 60px;
	width: 140px;
	height: 50px;
	border-radius: 10px;
	font-size: 130%;
	background-color: whitesmoke;
}
.four-cols img {
	resize: horizontal;
	margin: 0;
}
/* ********************************************************* 4-column section styles **************************************************** */
#section6 {
	margin: 0 auto;
	margin-top: 60px;
	background-color: lightgray;
}
#big-img-btn {
	margin: 20px 0 40px 30px;
	width: 160px;
	height: 50px;
	border-radius: 10px;
	font-size: 130%;
	background-color: whitesmoke;
}
.one-big-col h3 {
	padding: 40px 0 0 30px;
}
.one-big-col p {
	margin: 10px 30px 20px 30px;
}