* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial, "courier new", serif;
}
h1 {
	font-size: 450%;
	font-weight:100;
}
#nav-bar {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}
nav {
	width: 58%;
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
}
header nav a {
	text-decoration-line: none;
	text-align: center;
	border: 1px solid grey;
	margin-right: 20px;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 130%;
}
nav a:hover {
	background-color: #1a1a1a;
}
.active {
	background-color: #1a1a1a;
	border: 1px dotted white;
}
.container-fluid {
	display: table;
	width: 100%;
	margin-top: 62px;
	margin-bottom: 62px;
}
.container {
	display: table;
	width: 88%;
	border-collapse: separate;
/*	margin-bottom: 62px;*/
	
}
.row {
	display: table-row;
}
.col {
	display: table-cell;
}
/* ***************************** front-page styles ******************* */
#section1 {
	background-image: url(../img/bg-1.jpg);
	background-position: bottom left;
	height: 560px;
}
.row-fluid {
	width: inherit;
}
.col-fluid {
	display: table-cell;
	width: inherit;
	text-align: center;
	color: white;
	vertical-align: middle;
}
/* ************************************************************ 3-column section styles *************************************************** */
#section2 {
	height: 520px;
	margin: 0 auto;
	border-spacing: 10px;
}
.three-cols {
	display: table-cell;
	column-width: 280px;
	height: inherit;
}
.three-cols h3 {
	margin: 30px 0 30px 10px;
}
.three-cols p {
	margin: 0 10px;
}
.three-cols button {
	margin: 40px 120px;
	width: 160px;
	height: 50px;
	border-radius: 10px;
	font-size: 130%;
	color: white;
}
#green-btn {
	background-color: green;
	
}
#blue-btn {
	background-color: blue;
}
#red-btn {
	background-color: red;
}